<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyman.library_common">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 设置系统权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 电源锁权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许应用写（非读）用户的日历数据 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许应用访问震动器 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
